.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.bar {
	background: blue;
	color: white;
	text-align: right;
	border: 2px solid black;
}
.label{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.layout{
	border: 3px solid black;
	padding: 10px;
	width: 100%;
	display: grid;
	row-gap: 10px;
}
.row {
	display: grid;
	text-align: right;
	grid-template: 40px / 5% 1fr;
}

