.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.bar {
	background: blue;
	color: white;
	text-align: right;
	border: 2px solid black;
}
.label{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.layout{
	border: 3px solid black;
	padding: 5px;
	width: 95%;
	display: grid;
	row-gap: 10px;
	margin: auto;
	margin-top: 20px;
}
.row {
	display: grid;
	text-align: right;
	grid-template: 30px /
  minmax(auto, 130px)
  1fr;
}
